*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url(https://character-customization.netlify.app/static/media/hip-square.22f03fab06033dc3aca1.png);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.avatar-wrapper {
    background-color: #fff;
    border: 15px solid #0baf94;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 260px;
    height: 280px;
    position: relative;
}

.avatar img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    background-color: #ca5119;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    color: #a5510d;
}

.title {
    color: #0baf94;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px #f90;
}

.subtitle {
    color: #f90;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 3px #0baf94;
}

.divider {
    border-bottom: 4px solid rgba(255, 41, 41, 0.555);
    height: 1px;
    margin: 20px auto;
    width: 50%;
}

.list-section {
    max-width: 700px;
    text-align: center;
}

.list {
    background-color: rgba(255, 166, 0, 0.4);
    border: 5px solid orange;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px 0;
    padding: 20px;
}

.square,
.square:hover {
    transition-duration: 0.2s;
}

.square {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.square {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: rgba(116, 116, 255, 0.315);
}

.img-center {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 1000px) {
    .main {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        align-items: flex-start;
    }

    .avatar-wrapper {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }
}
